body {
    background-color: rgb(255, 255, 255);
}
heading {
    color: rgb(0,0,0);
    font-family: 'Cormorant Garamond', serif; 
    font-size: 160%;
  }

subheading {
    color: rgb(0,0,0);
    font-family: 'Cormorant Garamond', serif; 
    font-size: 120%; 
}  
p {
    color: rgb(0, 0, 0);
    font-family: optima;
    font-size: 100%;
  }

a {
    color: rgb(15, 155, 236);
    font-family: optima;
    font-size: 100%;
  }

name {
      font-family:  optima;
      font-size: 200%
  }
  .circle_image {
    width: 80%;
    border-radius: 80%;
}

papertitle {
    font-family: 'Cormorant Garamond', serif;
    font-size: 120%
}

strong{
    font-family: optima;
    font-size: 100%;
}
em{
    font-family: optima;
    font-size: 100%;
}

br{
    font-family: optima;
    font-size: 100%;
}