body {
    background-color: rgb(255, 255, 255);
}
heading {
    color: rgb(0,0,0);
    font-family: optima; 
    font-size: 160%;
  }
p {
    color: rgb(0, 0, 0);
    font-family: optima;
    font-size: 100%;
  }

name {
      font-family:  optima;
      font-size: 200%
  }
  .circle_image {
    width: 250px;
    border-radius: 125px;
}